<h2>Form Group: uses formGroup, formControlName</h2>

<form action="" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="firstname">First Name</label>
  <input type="text" formControlName="firstname" />

  <label for="lastname">Last Name</label>
  <input type="text" formControlName="lastname" />

  <div formGroupName="address">
    <h2>Address: nested form group, uses formGroupName, formControlName</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street" />

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city" />

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state" />

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip" />
  </div>
  <button type="button" (click)="updateProfile()">Update Profile</button>

  <h2>Dynamic Forms- Forms Array</h2>
  <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <label for="alias- {{ i }}"> Alias: </label>
      <input id=" alias-{{ i }}" type="text" [formControlName]="i" />
    </div>
  </div>

  <p>complete the form to enable button</p>

  <p>Form Status: {{ profileForm.status }}</p>

  <p>{{ profileForm.value | json }}</p>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
